################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.db
*.bak
*.user
app.aps

**/.vs/
**/.sonarlint/

/MSVisualStudio/**/obj/
/MSVisualStudio/**/bin/
/MSVisualStudio/**/Release/
/MSVisualStudio/**/ReleaseParallel/
/MSVisualStudio/**/Debug/
/MSVisualStudio/**/x64*/
/MSVisualStudio/**/Win32*/

/MSVisualStudio/v16/packages/
/MSVisualStudio/v16/TestResults/
/MSVisualStudio/v16/UpgradeLog.htm
/MSVisualStudio/v16/Sonnet/Properties/launchSettings.json
/MSVisualStudio/v16/SonnetExamples/Properties/launchSettings.json
/MSVisualStudio/v16/SonnetTest/Properties/launchSettings.json

/MSVisualStudio/v17/packages/
