################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.db
/.vs
/MSVisualStudio/v10/.vs
/MSVisualStudio/v10/Sonnet/obj
/MSVisualStudio/v10/SonnetExamples/obj
/MSVisualStudio/v10/SonnetTest/obj
/MSVisualStudio/v16/.vs
/MSVisualStudio/v16/Sonnet/bin
/MSVisualStudio/v16/Sonnet/obj
/MSVisualStudio/v16/SonnetExamples/bin
/MSVisualStudio/v16/SonnetExamples/obj
/MSVisualStudio/v16/SonnetTest/bin
/MSVisualStudio/v16/SonnetTest/obj
/MSVisualStudio/v16/SonnetWrapper/bin
/MSVisualStudio/v16/SonnetWrapper/obj
/MSVisualStudio/v16/x64*
/MSVisualStudio/v16/Win32*
*.bak
*.user
*.user
