################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.db
*.bak
*.user

**/.vs/
/MSVisualStudio/**/obj/
/MSVisualStudio/**/bin/
/MSVisualStudio/**/Release/
/MSVisualStudio/**/Debug/
/MSVisualStudio/**/x64*/
/MSVisualStudio/**/Win32*/
/test.mps
/testmiqp.mps
